# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules*

# Dependency directories for both projects
backend/node_modules
frontend/node_modules
frontend/public/vite.svg

# Build directories for both projects
backend/dist
frontend/dist
dist-ssr

# Vercel and local environment files
.vercel
.local
.env
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?